.rootView {
  display: grid;
  width: 100%;
  min-height: 100%;
  grid-template-columns: 1fr minmax(640px, 1024px) 1fr;
  grid-template-rows: 64px 1fr auto;
  grid-template-areas:
    "menu menu menu"
    ". main ."
    "footer footer footer";
}

.nav {
  grid-area: menu;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.footer {
  background: black;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: 1fr minmax(640px, 1024px) 1fr;
  grid-template-areas: ". info .";
  align-items: center;
}

.footer .info {
  width: 100%;
  grid-area: info;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  align-items: center;
  justify-content: stretch;
}

.footer ul {
  list-style-type: none;
}

.under-construction {
  position: fixed;
  top: 200px;
  z-index: 9999;
  left: 10%;
  margin: 0 0;
  width: 80%;
  opacity: 0.9;
}
